.card-testi .testi-photo img {
    width: 50%;
    justify-content: center;
    padding-top: 30px;
    margin-right: 10px;
    margin-left: 50px;
}
.card-testi .testi .rate {
    width: 40%;
}
.testi p {
    font-size: 16px;
    font-family: Helvetica;
}
.testi .username {
    font-weight: bold;
    font-size: smaller;
}

.card-testi {
    width: 95%;
    max-height: min-content;
    background-color: #F1F3FF;
    border-radius: 8px;
}

.card-carousel h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
}

.left {
    width: 10%;
}