.row {
    margin-bottom: 50px;
}

.faq h1 {
    font-family: Helvetica;
    font-size: 32px;
    justify-content: left;
    width: 100%;
    font-weight: 600;
}

.accordion {
    margin-bottom: 10px;
    font-family: Helvetica;
    font-size: 16px;
    text-align: left;
    width: 90%;
    margin-bottom: 20px;
}