.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title h1 {
  font-family: Helvetica;
  font-weight: 600;
  text-align: left;
  padding-left: 100px;
  margin-top: 20px;
  color: black;
  font-size: 32px;
}

.title p {
  font-family: Helvetica;
  font-weight: 500;
  text-align: left;
  padding-left: 100px;
  margin-bottom: 50px;
  color: black;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
